@model HTBox.Web.Models.MenuTree
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@Html.Partial("_Edit")
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
